/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f5f6fa;
}

main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    width: 100%;
    border-radius: 13px;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

h2 {
    font-family: 'Inter', sans-serif;
    border-bottom: 3px solid #e3242b;
}